footer {
  background-color: var(--bg-dark);
  padding: 2rem 1.5rem; /* side padding matches the header */
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

footer a {
  text-decoration: none;
  color: var(--text-main);
}

footer h4 {
  padding-bottom: 8px;
}

footer form {
  max-width: 50vw;
}

footer form + p {
  padding-top: 2rem;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
}

.footer-links a:hover {
  font-weight: 700;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
  }

  footer .footer-column {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  footer {
    justify-content: center;
    padding: 2rem 80px; /* side padding matches the header */
  }
  footer .footer-column {
    max-width: calc(1024px / 3);
  }
}
